.movies-gallery__wrapper {
  margin-bottom: 95px;
  border-top: 1px solid rgba(66, 66, 66, 1);
}

.movies-gallery {
  margin: 82px 0px -27px 0px;
}

@media screen and (max-width: 768px) {
  .movies-gallery {
    margin: 94px 0px -27px 0px;
  }
}

@media screen and (max-width: 1279px) {
  .movies-gallery__wrapper {
    margin-right: calc(30px + 68 * (100vw - 768px) / 1279);
    margin-left: calc(30px + 68 * (100vw - 768px) / 1279);
    margin-bottom: 98px;
  }
}

@media screen and (max-width: 767px) {
  .movies-gallery__wrapper {
    margin-right: calc(10px + 34 * (100vw - 320px) / 767);
    margin-left: calc(10px + 34 * (100vw - 320px) / 767);
  }
}

.movies-gallery__movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(364px, auto));
  gap: 39px 24px;
  justify-items: center;
  width: 100%;
  margin-top: 77px;
}

@media screen and (max-width: 1024px) {
  .movies-gallery__movies {
    grid-template-columns: repeat(auto-fill, minmax(339px, auto));
    gap: 36px 30px;
    margin-top: calc(99px + -23.8 * (100vw - 768px) / 1023);
  }
}

@media screen and (max-width: 768px) {
  .movies-gallery__movies {
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    margin-top: calc(77px + -23.8 * (100vw - 768px) / 1023);
    gap: 27px 25px;
    width: 110%;
  }
}

@media screen and (max-width: 480px) {
  .movies-gallery__movies {
    margin-top: 60px;
  }
}

@media screen and (max-width: 320px) {
  .movies-gallery__movies {
    margin-top: 49px;
  }
}

.movies-gallery__btn-more {
  padding: 0;
  cursor: pointer;
  width: 320px;
  height: 36px;
  margin-top: 61px;
  font-family: "Inter-Medium", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: 0;
  color: inherit;
  border: 1px solid rgba(66, 66, 66, 1);
  border-radius: 0.6rem;
  background: rgba(32, 32, 32, 1);
}

.movies-gallery__btn-more:hover {
  border: 1px solid #4285f4;
}

@media screen and (max-width: 768px) {
  .movies-gallery__btn-more {
    margin-top: 43px;
    margin-bottom: 124px;
  }
}

@media screen and (max-width: 480px) {
  .movies-gallery__btn-more {
    width: 240px;
  }
}

@media screen and (max-width: 320px) {
  .movies-gallery__btn-more {
    margin: 52px 11px 115px 0px;
  }
}

.movies-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  width: 364px;
}

@media screen and (max-width: 1024px) {
  .movies-card {
    width: 339px;
  }
}

@media screen and (max-width: 767px) {
  .movies-card {
    width: 300px;
  }
}

.movies-card__description {
  grid-area: description;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 330px;
  margin: 217px 0 16px 14px;
  ;
}

@media screen and (max-width: 768px) {
  .movies-card__description {
    max-width: 297px;
    margin: 218px 0 14px 0px;
  }
}

@media screen and (max-width: 320px) {
  .movies-card__description {
    margin: 184px 0px 8px -1px;
  }
}

.movies-card__heading {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  font-family: "Inter-Medium", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-size: 1.3rem;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0;
}

@media screen and (max-width: 768px) {
  .movies-card__heading {
    font-size: 1.2rem;
    padding: 0px 0px 0px 0px;
    letter-spacing: 0.05rem;
  }
}

.movies-card__duration {
  font-family: "Inter-Regular", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-size: 1.1rem;
  margin: 0px 0px 0px 20px;
  line-height: 1.1818181818;
  font-weight: 400;
  letter-spacing: 0;
  color: #8b8b8b;
  background-color: rgba(47, 47, 47, 1);
  padding: 3px 4px 3px 4px;
}

@media screen and (max-width: 768px) {
  .movies-card__duration {
    margin: -2px -39px 2px 30px;
  }
}

@media screen and (max-width: 320px) {
  .movies-card__duration {
    margin: -1px 2px 1px 31px;
  }
}

.movies-card__btn-favourite {
  z-index: 0;
  display: none;
  /* mask-image: url(../../images/save3d.png); */
  background-image: url(../../images/save3d.png);
  grid-area: btn-favourite;
  justify-self: end;
  width: 71px;
  height: 21px;
  margin-top: 16px;
  margin-right: 18px;
  background-color: #313131;
  border-radius: 10px;
}

#saved-movies .movies-card__btn-favourite {
  background-image: none;
  width: auto;
}

/* .movies-card__btn-favourite:active {
  background-image: url(../../images/save.png);
  display: block;
} */

.movies-card__btn-favourite_active {
  z-index: 0;
  background-image: url(../../images/save.png);
  grid-area: btn-favourite;
  justify-self: end;
  width: 21px;
  height: 21px;
  margin-top: 16px;
  margin-right: 18px;
  background-color: #313131;
  border-radius: 50%;
  display: block;
}

.movies-card__photo {
  grid-area: photo;
  -o-object-fit: cover;
  object-fit: cover;
  width: 364px;
  height: 201px;
  border-radius: 5%;
}

@media screen and (max-width: 768px) {
  .movies-card__photo {
    width: 339px;
    height: 190px;
  }
}

@media screen and (max-width: 320px) {
  .movies-card__photo {
    width: 300px;
    height: 168px;
    padding: 0px 10px 0px 0px;
  }
}

.movies-card:hover .movies-card__btn-favourite {
  display: block;
}