.portfolio__wrapper {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  row-gap: 20px;
  padding: 0px;
}

@media screen and (max-width: 1024px) {
  .portfolio__wrapper {
    padding-top: 47px;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio__wrapper {
    margin: 9px -2px 0px -6px;
  }
}

@media screen and (max-width: 480px) {
  .portfolio__wrapper {
    padding-top: 40px;
    padding-bottom: 68px;
  }
}

@media screen and (max-width: 320px) {
  .portfolio__wrapper {
    padding-top: 30px;
    padding-bottom: 6px;
    margin: 10px -8px 0px -8px;
  }
}

.portfolio__project {
  height: 69px;
}

.portfolio__project:not(:last-child) {
  border-bottom: 1px solid #424242;
}

@media screen and (max-width: 1024px) {
  .portfolio__project:not(:last-child) {
    border-color: #e6e6e6;
  }
}

@media screen and (max-width: 480px) {
  .portfolio__project {
    height: 47px;
  }
}

.portfolio__project-arrow {
  padding-top: 6px;
  padding-right: 6px;
}

@media screen and (max-width: 480px) {
  .portfolio__project-arrow {
    width: 12px;
    padding-top: 0px;
    padding-right: 4px;
    padding-bottom: 2px;
  }
}

.portfolio__heading {
  margin: 0px 0px 50px;
  font-family: "Inter-Regular", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.1111111111;
  font-weight: 400;
  letter-spacing: 0;
  color: #8b8b8b;
}

@media screen and (max-width: 1024px) {
  .portfolio__heading {
    color: #a0a0a0;
  }
}

@media screen and (max-width: 768px) {
  .portfolio__heading {
    margin: -3px -6px -7px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__heading {
    font-size: calc(1.4rem + 6.8 * (100vw - 320px) / 767);
    line-height: 1.4285714286;
  }
}

@media screen and (max-width: 320px) {
  .portfolio__heading {
    font-size: calc(1.4rem + 6.8 * (100vw - 320px) / 767);
    line-height: 1.4285714286;
    margin: 5px 0px 0px -12px;
  }
}

.portfolio__project-heading {
  margin: 0;
  font-family: "Inter-Regular", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-size: 3rem;
  line-height: 1.6666666667;
  font-weight: 400;
  letter-spacing: -0.12rem;
}

@media screen and (max-width: 1024px) {
  .portfolio__project-heading {
    font-size: 2.8rem;
    line-height: 1.7857142857;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__project-heading {
    font-size: calc(1.8rem + 17 * (100vw - 320px) / 767);
    line-height: 1.5555555556;
  }
}

@media screen and (max-width: 480px) {
  .portfolio__project-heading {
    letter-spacing: -0.07rem;
  }
}