.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 44px;
  column-gap: 44px;
  padding: 10px 0px 15px 0px;
}

@media screen and (max-width: 1279px) {
  .header__wrapper {
    margin-right: calc(30px + 68 * (100vw - 768px) / 1279);
    margin-left: calc(30px + 68 * (100vw - 768px) / 1279);
  }
}

@media screen and (max-width: 767px) {
  .header__wrapper {
    margin-right: calc(14px + 27.2 * (100vw - 320px) / 767);
    margin-left: calc(14px + 27.2 * (100vw - 320px) / 767);
  }
}

.header__auth {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
  column-gap: 30px;
  max-width: 183px;
}

@media screen and (max-width: 768px) {
  .header__auth {
    max-width: 155px;
  }
}

@media screen and (max-width: 480px) {
  .header__auth {
    -moz-column-gap: 14px;
    column-gap: 14px;
  }
}