.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 44px;
  column-gap: 44px;
  padding: 9px 5px 16px 6px;
}

@media screen and (max-width: 1279px) {
  .header__wrapper {
    margin-right: calc(30px + 68 * (100vw - 768px) / 1279);
    margin-left: calc(30px + 68 * (100vw - 768px) / 1279);
  }
}

@media screen and (max-width: 768px) {
  .header__wrapper {
    margin-right: calc(14px + 27.2 * (100vw - 320px) / 767);
    margin-left: calc(14px + 27.2 * (100vw - 320px) / 767);
  }
}

@media screen and (max-width: 320px) {
  .header__wrapper {
    padding: 14px 5px 16px 6px;
  }
}

.header__auth {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
  column-gap: 27px;
  max-width: 181px;
}

@media screen and (max-width: 768px) {
  .header__auth {
    margin: -4px 6px 0px -7px;
    padding: 2px 0px 0px 0px;
    max-width: 154px;
  }
}

@media screen and (max-width: 480px) {
  .header__auth {
    -moz-column-gap: 14px;
    column-gap: 14px;
  }
}

@media screen and (max-width: 320px) {
  .header__auth {
    margin: 0px 1px 5px 0px;
    padding: 2px 0px 0px 0px;
  }
}