html {
  color: #fff;
  font-size: 10px;
  background-color: #202020;
  scroll-behavior: smooth;
}

.list {
  margin: -2px 0px 0px 0px;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .list {
    margin: -2px 0px 0px -6px;
    padding: 0;
    list-style-type: none;
  }
}

@media screen and (max-width: 320px) {
  .list {
    margin: 0;
  }
}

@font-face {
  font-family: Inter-Regular;
  font-style: normal;
  font-display: swap;
  src: url("./vendor/fonts/Inter-Regular.woff") format("truetype");
}

@font-face {
  font-family: Inter-Medium;
  font-style: normal;
  font-display: swap;
  src: url("./vendor/fonts/Inter-Medium.woff") format("truetype");
}

@font-face {
  font-family: Suisse-Intl-Regular;
  font-style: normal;
  font-display: swap;
  src: url("./vendor/fonts/Inter-Black.woff") format("truetype");
}

.page_no-scroll {
  overflow: hidden;
}

.layout-2-column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.layout-2-column>* {
  flex-basis: 48.1%;
}

@media screen and (max-width: 768px) {
  .layout-2-column {
    display: flex;
    justify-content: space-between;
    row-gap: 56px;
    margin: 2px -5px 0px -7px
  }
}

@media screen and (max-width: 480px) {
  .layout-2-column {
    flex-direction: column;
    row-gap: 56px;
    margin: 60px 0;
  }
}

@media screen and (max-width: 320px) {
  .layout-2-column {
    flex-direction: column;
    row-gap: 60px;
    margin: 62px 0px 63px -9px;
  }
}

.section-heading {
  margin: 0;
  padding-bottom: 23px;
  font-family: "Inter-Regular", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-size: 2.2rem;
  line-height: 1.2272727273;
  font-weight: 400;
  letter-spacing: -0.1rem;
  border-bottom: 1px solid rgba(218, 218, 218, 1);
}

@media screen and (max-width: 768px) {
  .section-heading {
    font-size: 2.2rem;
    line-height: 1.2222222222;
    letter-spacing: -0.07rem;
    padding-bottom: 23px;
    margin: -2px 0px 0px -7px;
  }
}

@media screen and (max-width: 480px) {
  .section-heading {
    font-size: 1.8rem;
    line-height: 1.2222222222;
    letter-spacing: -0.07rem;
    padding-bottom: 30px;
    margin: 11px 4px 0px -8px;
  }
}

@media screen and (max-width: 320px) {
  .section-heading {
    padding-bottom: 27px;
  }
}

.paragraph {
  margin: 2px 0px 0px 0px;
  font-family: "Inter-Regular", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-size: 1.3rem;
  line-height: 1.4285714286;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

@media screen and (max-width: 1024px) {
  .paragraph {
    font-size: 1.1rem;
    line-height: 1.6;
  }
}

@media screen and (max-width: 767px) {
  .paragraph {
    font-size: 1.1rem;
    line-height: 1.5;
  }
}

@media screen and (max-width: 320px) {
  .paragraph {
    font-size: 1rem;
    line-height: 1.5;
  }
}

.paragraph-s {
  font-family: "Inter-Medium", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  font-weight: 400;
  letter-spacing: 0;
  text-decoration: none;
  color: inherit;
}

.paragraph-s:hover {
  opacity: 70%;
}

.text-additional-1 {
  font-family: "Inter-Medium", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-size: 1.3rem;
  line-height: 1.2142857143;
  font-weight: 500;
  letter-spacing: 0;
  color: #8b8b8b;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .text-additional-1 {
    font-weight: 400;
  }
}

@media screen and (max-width: 480px) {
  .text-additional-1 {
    font-size: 1.1rem;
    line-height: 1.1818181818;
  }
}

.link {
  font-family: "Inter-Medium", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0;
  color: inherit;
  text-decoration: none;
  margin: 0px;
}

.link:hover {
  opacity: 70%;
}

.link_color_accent {
  color: #000;
}

.link_color_accent:hover {
  opacity: 80%;
}

@media screen and (max-width: 480px) {
  .link {
    font-size: 1rem;
    line-height: 1.6;
  }
}

.not-found__link {
  color: #4285f4;
  font-size: 1.3rem;
}

.link_type_inner-nav {
  color: #4285f4;
  font-size: 1.3rem;
}

.nav__link {
  font-family: "Inter-Regular", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-size: 1.3rem;
  line-height: 1.3846153846;
  font-weight: 400;
  letter-spacing: 0;
}

@media screen and (max-width: 768px) {
  .nav__link {
    font-family: "Inter-Medium", "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 1.2222222222;
    font-weight: 500;
    letter-spacing: 0;
  }
}

.nav__link-active {
  font-family: "Inter-Medium";
  font-weight: 500;
}

.nav__link-active:hover {
  opacity: 100%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav__link-active {
    padding-bottom: 4px;
    border-bottom: 2px solid #fff;
  }
}

@media screen and (max-width: 480px) {
  .nav__link-active {
    padding-bottom: 6px;
  }
}

.input {
  width: 100%;
  height: 46px;
  margin-bottom: 24px;
  padding: 0;
  font-family: "Inter-Medium", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  font-weight: 400;
  letter-spacing: 0;
  color: #fff;
  border-bottom: 1px solid #424242;
  background: rgba(47, 47, 47, 1);
  border-radius: 6px;

}

@media screen and (max-width: 1280px) {
  .input {
    margin: 8px 0px 20px 0px;
    height: 46px;
  }
}

@media screen and (max-width: 320px) {
  .input {
    width: 94%;
    padding: 0px 0px 0px 15px;
    height: 44px;
    margin: 11px 0px 0px 0px;
    margin-bottom: 20px;
    background: rgba(47, 47, 47, 1);
  }
}

.input:focus {
  border-bottom-color: #4285f4;
}

.btn {
  padding: 0;
  border: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 80%;
}

.btn-auth {
  padding: 7px 22px;
  background-color: #3ddc84;
  border-radius: 3px;
}

@media screen and (max-width: 480px) {
  .btn-auth {
    padding: 5px 12px;
  }
}

.btn-search {
  width: 0px;
  height: 20px;
  margin: 0px;
  padding: 0px 31px 0px 0px;
  border-radius: 100%;
}

.btn-search::before {
  content: url(../src/images/find.png);
}

@media screen and (max-width: 768px) {
  .btn-search {
    margin: 0px -14px 0px 0px;
  }
}

@media screen and (max-width: 480px) {
  .btn-search {
    bottom: 6px;
    width: 38px;
  }

  /* .btn-search::before {
    content: url(/src/images/find.svg);
  } */
}

@media screen and (max-width: 320px) {
  .btn-search {
    margin: 9px -14px 0px 0px;
  }
}

.avatar {
  width: 270px;
  height: 327px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1rem;
}

@media screen and (max-width: 1024px) {
  .avatar {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 767px) {
  .avatar {
    order: 1;
    width: 292px;
    height: 352px;
  }
}

@media screen and (max-width: 320px) {
  .avatar {
    margin: -5px -20px 0px -20px;
    order: 1;
    width: 292px;
    height: 352px;
  }
}


.movies-cards__trailer-link {
  grid-area: photo;
  overflow: hidden;
  width: 220px;
  height: 122px;
  padding: 0;
  margin: 6px;
  width: 100%;
  height: 100%;
  margin: 0px;
}

.error {
  display: none;
  margin-bottom: 20px;
  text-align: center;
}

.error_visible {
  font-family: "Inter-Regular", "Arial", "Helvetica", sans-serif;
  display: inline;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(238, 52, 101, 1);
}

.profile__wrapper-btn {
  width: 100px;
  height: 45px;
}

@media screen and (max-width: 767px) {
  .profile__wrapper-btn {
    width: 100px;
    height: 45px;
  }
}

@media screen and (max-width: 320px) {
  .profile__wrapper-btn {
    width: 100px;
    height: 45px;
  }
}

.success_visible {
  font-size: 1rem;
  display: none;
  letter-spacing: 0
}

.success {
  font-family: "Inter-Regular", "Arial", "Helvetica", "sans-serif";
  display: inline;
  margin-bottom: 20px;
  text-align: center;
}